*.doc
*.docx
*.lnk
*.url
*.db
*.pyc
*.psd

*.xlsx

BackupsAndOther/

flask/static/js/js1_old.js

flask/old/

flask/webscrapingTestOutput1_bk1.txt

flask/webscrapingTestOutput1_serialized.pkl

flask/webscrapingTestOutput1.txt

flask/webscrapingAllBillsOutput1.txt

flask/__pycache__/

flask/webscrapingAllBillsOutput2.txt

flask/webscraping5.py
